html
	head
		title= "Udawane Logowanie"
		style
			include ./style.css
	body
		h1 Udawane logowanie do #[span Google] 
		
		h3 Wpisz login i hasło aby "zalogować" się do Goole
		form(action="/auth/google")
			input(type="text",name="Login",placeholder="Login")
			input(type="password",name="Password",placeholder="Password")
			input(type="submit",value="Sign in")
			